<div id="<%= dom_id subreddit %>">
  <p>
    <strong>Title:</strong>
    <%= subreddit.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= subreddit.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= subreddit.user_id %>
  </p>

</div>
